body {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  width: 100%;
  height: 60px;
  background-color: #344051;
}

.logo {
  color: #fff;
  font-size: 28px;
  line-height: 60px;
  margin-left: 388px;
  float: left;
}

.menu {
  float: left;
  margin-left: 422px;
}

.menu li {
  float: left;
  color: #fff;
  line-height: 60px;
  margin-right: 40px;
  font-size: 16px;
  text-transform: uppercase;
}

.main {
  width: 100%;
  height: calc(100% - 60px);
  background: url(../img/boy_title.png) 90% 100% / auto 85% no-repeat,
    url(../img/bg_main.png) center/cover no-repeat;
}

.title_container{
    float: left;
    margin: 400px 0px 0px 404px;
    color: #2c384a;
    text-align: center;
    
}

.title_container h1{
    
    font-size: 60px;
    font-weight: bold;
}

.title_container h4{
    font-size: 22px;
    margin-top: 40px;
    color: #acadb8;
}

.title_container input{
    height: 40px;
    text-align: center;
    border: 3px solid #6d7682;
    border-radius: 5px;
    background-color: none;
    color: #6d7682;
    padding: 0px 15px;
    margin: 60px 14px 0px 14px;
}

.about_me_container{
    width: 100%;
    height: 720px;
    float: left;
    text-align: center;
}

.about_me_container h2{
    padding-top: 100px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #344051;
}

.about_me_container img{
    display: block;
    height: 200px;
    text-align: center;
    border: 3px;
    border-radius: 50%;
    margin:100px auto 0px auto;
}

.about_me_container p{
    margin: 25px 30%;
    color: #3f495a;
    text-align: justify;
    font-size: 15px;
}

.about_me_container input{
    height: 40px;
    text-align: center;
    border: 3px solid #6f707e;
    border-radius: 8px;
    color: #6f707e;
    margin-top: 15px;
    padding: 0px 20px 0px 35px;
    background: url(../img/download.png) left/auto 15px no-repeat;
    background-position-x: 10px;
}




.my_skill_container{
    float: left;
    height: 525px;
    width: 100%;
    background: url(../img/bg_skill.png);
}

.my_skill_container h2{
    padding-top: 100px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #344051;
}

.my_skill_container .my_skill{
    text-align: center;
    margin: 100px 50px 0px 50px;
}

.my_skill_container div{
    margin: 0px 50px;

}
.my_skill_container h4{
    font-size: 15px;
    color: #cf7600;
    font-weight: bold;
    margin: 40px 0px 20px 0px;

}

.my_skill_container p{
    color: #3f495a;
    width: 210px;

}


.cases_container{
    float: left;
    width: 100%;
    text-align: center;
}
.cases_container h2{
    padding-top: 100px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #344051;
}

.cases_container .cases_description{
    margin-top: 72px;
    color: #3f495a;
    font-size: 15px;
}

.cases_container .clients{
    width: 60%;
    margin: 40px auto 0px auto;
    color: #3f495a;
}

.cases_container img{
    width: 100%;
}


.cases_container  h3{
    font-size: 20px;
    color: #384354;
    line-height: 35px;
    font-weight: bold;
}

.cases_container .client_name_web{
    width: 20%;
    text-align: left;
    float: left;
}




.cases_container .cases_name_project{
    text-align: justify;
    width: 80%;
    height: 100%;
    float: left;
}

.cases_container input{
    text-align: center;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    background-color: #63b5ae;
    height: 45px;
    border-radius: 5px;
    padding: 0px 15px;
    margin-top: 25px;
}












.calculation_container{
    float: left;
    width: 100%;
    text-align: center;
}

.calculation_container h2{
    padding-top: 100px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #344051;
}


.calculation{
    width: 50%;
    margin: 60px auto 0px;
    border-bottom: 3px solid #d1d1d1;
    
}

.calculation h3{
    font-size: 25px;
    text-transform: uppercase;
    color: #344051;
    text-align: left;
}

.calculation select{
    width: 100%;
    margin: 25px 0px;
    background-color: #eeeeee;
    padding: 10px;
}

.calculation_container .price{
    margin: 30px auto 150px;
    width: 50%;
    font-size: 20px;
    font-weight: 600;
    color: #1c2534;
    text-align: justify;						 
	text-align-last: justify;
}

.calculation_container .deadlines{
    margin-bottom: 15px;
}



.statistics_container{
    width: 100%;
    float: left;
    text-align: center;
    background: url(../img/statistics/bg.png) no-repeat;
}

.statistics_container h2{
    padding-top: 100px;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    color: #344051;
}

.statistics_container .my_statictic{
    text-align: center;
    margin: 100px 50px 0px 50px;
}

.statistics_container div{
    margin: 0px 50px;

}
.statistics_container h4{
    font-size: 20px;
    color: #323e4f;
    font-weight: bold;
    margin: 10px 0px 100px 0px;

}

.statistics_container p{
    color: #323e4f;
    font-weight: bold;
    margin: 33px;
    font-size: 40px;
    width: 210px;

}


.feedback_container{
    width: 100%;
    height: 530px;
    float: left;
    text-align: center;
}

.feedback_container h2{
    padding-top: 100px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #344051;
}

.feedback_container img{
    height: 100px;
    text-align: center;
    border: 3px;
    border-radius: 50%;
    margin:100px auto 0px auto;
}

.feedback_container p{
    margin: 25px 30%;
    color: #3f495a;
    text-align: center;
    font-size: 15px;
}


.contacts_container{
    float: left;
    width: 100%;
    height:810px;
    background: url(..//img/my_contacts/bg1.png) center/100% 90%  no-repeat ;
    text-align: center;
}

.contacts_container h2{
    padding-top: 100px;
    font-size: 30px;
    margin-bottom: 70px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}
.contacts_container h3{
    padding-top: 100px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    
}



.contacts_container p{
    color: white;
    margin-top: 17px;
}

.contacts_container div{
    text-align: center;
    margin: 20px 30px 20px 30px;
   
}

.contacts_container h4{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
    
}

.contacts_container .my_cont div{
    width: 15%;
}


.contacts_container [type="text"], [type="email"]{
   text-align: left;
   height: 35px;
   width: 25%;
   margin: 10px;
   padding-left: 10px;
}



.contacts_container textarea{
    text-align: left;
    margin-top: 10px;
    height: 96px;
    width: calc(50% + 25px);
    resize: none;
    padding: 10px;
 }

 .contacts_container [type="submit"]{
    text-align: left;
    font-size: 20px;
    height: 48px;
    padding: 10px;
    background: transparent;
    border: 3px solid white;
    border-radius: 5px;
    color: white;
    margin-bottom: 40px;
 }

 .contacts_container a{
     color: white;
     text-align: center;
     margin-left: 10px;
     margin-right: 10px;
 }




.maps{
    float: left;
    width: 100%;
    height: auto;
}




