body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  width: 100%;
  height: 60px;
  background-color: #344051;
  position: fixed;
  z-index: 10;
  
}


.logo {
  
  color: #fff;
  font-size: 28px;
  text-align: center;
}

.logo:hover {
  color: #cf7600;
  cursor: pointer;
  
}

.logo:visited{
  color: #fff;
}

.navbar-collapse{
  
  text-align: center;
  
}



.navbar-toggler{
  height: 40px;
  text-align: center;
  border: 3px solid #ffffff;
  border-radius: 5px;
  background-color: none;
  color: #ffffff;
  transform: scale(1);
  transition: all 0.2s;
}

.navbar-toggler:hover{
  background: rgb(255, 255, 255);
  color: #344051;
  cursor: pointer;
}

.navbar-toggler:active{
  transform: scale(1.2);
}


.menu li {
  margin: auto 10px;
  background-color: #344051;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
 /* animation: get, bounceInDown;*/ /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s;
  animation-fill-mode: forwards;
  /*opacity: 0;*/
}




@keyframes get {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.menu li:nth-child(2) {
  animation-delay: 0.4s;
}
.menu li:nth-child(3) {
  animation-delay: 0.8s;
}
.menu li:nth-child(4) {
  animation-delay: 1.2s;
}
.menu li:nth-child(5) {
  animation-delay: 1.6s;
}
.menu li:nth-child(6) {
  animation-delay: 2s;
}

.menu li a {
  color: #fff;
  transition: all 0.2s;
  transform: scale(1);
}

.menu li a:visited {
  color: #fff;
}

.menu li a:hover {
  color: #cf7600;
  cursor: pointer;
}

.menu li a:active {
  color: #915302;
  transform: scale(1.2);
}

.active_menu{
  border-radius: 40%;
  background-image: linear-gradient(#915302, #cf7600);
}

.main {
  width: 100%;
  height: 100%;
  background: url(../img/boy_title.png) 100% 100% / auto 85% no-repeat,
    url(../img/bg_main.png) center/cover no-repeat;
}

.title_container {
  width: 100%;
  color: #2c384a;
  animation: fadeInTopLeft 1s;
  text-align: center;
}

.title_container h1 {
  font-size: 60px;
  font-weight: bold;
  
}

.title_container h4 {
  font-size: 22px;
  margin-top: 40px;
  color: #acadb8;
}

.title_container input {
  height: 40px;
  text-align: center;
  border: 3px solid #6d7682;
  border-radius: 5px;
  background-color: none;
  color: #6d7682;
  padding: 0px 15px;
  margin: 60px 14px 0px 14px;
  transform: scale(1);
  transition: all 0.2s;
}

.title_container input:hover {
  background: rgba(44, 56, 74, 1);
  color: #fff;
  cursor: pointer;
}

.title_container input:active {
  transform: scale(1.2);
}

@media(max-width:992px){
 
  .title_container, .title_container h4, .title_container input {
    color: #fff;
    position: relative;
    z-index: 2;
  }

  .main{
    position: relative;
  }
  .main::after{
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .title_container input {
    border: 3px solid #fff;
    color: #344051;

  }

}

.about_me_container {
  width: 100%;
  height: 720px;
  float: left;
  text-align: center;
}

.about_me_container h2 {
  padding-top: 100px;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #344051;
}

.about_me_container img {
  display: block;
  height: 200px;
  text-align: center;
  border: 3px;
  border-radius: 50%;
  margin: 100px auto 0px auto;
}

.about_me_container p {
  margin: 25px 30%;
  color: #3f495a;
  text-align: justify;
  font-size: 15px;
}

.about_me_container input {
  height: 40px;
  text-align: center;
  border: 3px solid #6f707e;
  border-radius: 8px;
  color: #6f707e;
  margin-top: 15px;
  padding: 0px 20px 0px 35px;
  background: url(../img/download.png) left/auto 15px no-repeat;
  background-position-x: 10px;

  transition: all 0.2s;
}

.about_me_container input:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.about_me_container input:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

@media(max-width:992px){
  .about_me_container img{
    margin-top: 50px;
  }
  .about_me_container p {
    margin: 25px 10%;
  }

}

.my_skill_container {
  float: left;
  height: auto;
  padding-bottom: 100px;
  width: 100%;
  background: url(../img/bg_skill.png) no-repeat;
  background-size: cover;

  background-attachment: fixed;
  justify-content: center;
  color: #ffffff;
  align-items: center;
}

.my_skill_container h2 {
  padding-top: 100px;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #344051;
}

.my_skill_container .my_skill {
  text-align: center;
  margin: 100px 50px 0px 50px;
}

.my_skill_container div {
  margin: 0px 3%;
}
.my_skill_container h4 {
  font-size: 15px;
  color: #cf7600;
  font-weight: bold;
  margin: 40px 0px 20px 0px;
}

.my_skill_container p {
  color: #3f495a;
  width: 210px;
}

@media(max-width:992px){
  .my_skill_container{
    height: auto;
  }
  .about_me_container p {
    margin: 25px 10%;
  }

}

.cases_container {
  float: left;
  width: 100%;
  text-align: center;
  
}

.cases_container .mask {
  background-color: rgba(0, 0, 0, 1);
  height: 100%;
  position: fixed;
  z-index: -1;
  width: 100%;
  top: 0;
  left: 0;
}

.cases_container h2 {
  padding-top: 100px;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #344051;
}

.cases_container .cases_description {
  margin-top: 72px;
  color: #3f495a;
  font-size: 15px;
}

.cases_container .clients {
  width: 60%;
  margin: 40px auto 0px auto;
  color: #3f495a;
  
}

.cases_container img {
  width: 100%;
}




.cases_container h3 {
  font-size: 20px;
  color: #384354;
  line-height: 35px;
  font-weight: bold;
}

.cases_container .client_name_web {
  width: 20%;
  text-align: left;
  float: left;
}

.cases_container .cases_name_project {
  text-align: justify;
  width: 80%;
  height: 100%;
  float: left;
}

.cases_container input {
  float: left;
  text-align: center;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  background-color: #63b5ae;
  height: 45px;
  border-radius: 5px;
  padding: 0px 15px;
  margin-top: 25px;
  transition: all 0.2s;
  transform: scale(1);
  margin-left: 15px;
}

.cases_container input:hover {
  color: #63b5ae;
  background-color: transparent;
  border: 3px solid #63b5ae;
  cursor: pointer;
}
.cases_container input:active {
  padding: calc(.25em + 1px) .5em calc(.25em - 1px);
  box-shadow: inset 0 -1px 1px rgba(0,0,0,.1), inset 0 1px 2px #63b5ae, inset 0 0 0 60px rgba(255, 255, 255, 0.45);
}

.cases_container .clear {
  clear: both;
}

@media(max-width:992px){


  .cases_container .client_name_web {
    width: 100%;
    position: relative;
    
    text-align: justify;
  }
  .cases_client {
    width: 50%;
    float: left;
  }

  .cases_container .cases_name_project {
    width: 100%;
    height: 100%;
    float: left;
  }

}

.calculation_container {
  float: left;
  width: 100%;
  text-align: center;
}

.calculation_container h2 {
  padding-top: 100px;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #344051;
}

.calculation {
  width: 50%;
  margin: 60px auto 0px;
  border-bottom: 3px solid #d1d1d1;
}

.calculation h3 {
  font-size: 25px;
  text-transform: uppercase;
  color: #344051;
  text-align: left;
}

.calculation select {
  width: 100%;
  margin: 25px 0px;
  background-color: #eeeeee;
  padding: 10px;
}

.calculation_container .price {
  margin: 30px auto 150px;
  width: 50%;
  font-size: 20px;
  font-weight: 600;
  color: #1c2534;
  text-align: justify;
  text-align-last: justify;
}

.calculation_container .price span {
  display: inline-block;
  text-align: end;
}





.statistics_container {
  width: 100%;
  float: left;
  text-align: center;
  background: url(../img/statistics/bg.png) no-repeat;
  background-size: cover;

  background-attachment: fixed;
  justify-content: center;
  color: #ffffff;
  align-items: center;
  position: relative;
}

.statistics_container h2 {
  padding: 100px 0px;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  color: #344051;
}

.statistics_container .my_statictic {
  text-align: center;
}

.statistics_container div {
  margin: 0px 3%;
}
.statistics_container h4 {
  font-size: 20px;
  color: #323e4f;
  font-weight: bold;
  margin: 10px 0px 100px 0px;
}

.statistics_container p {
  color: #323e4f;
  font-weight: bold;
  margin: 33px;
  font-size: 40px;
  width: 210px;
  opacity: 0;
}



.feedback_container {
  width: 100%;
  height: 530px;
  float: left;
  text-align: center;
}

.feedback_container h2 {
  padding-top: 100px;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #344051;
}

.feedback_container img {
  height: 100px;
  text-align: center;
  border: 3px;
  border-radius: 50%;
  margin: 100px auto 0px auto;

  transition: all 0.4s;
  transform: scale3d(1, 1, 1);
}

.feedback_container img:hover {
  cursor: pointer;
}

.feedback_container img:active {
  transform: scale3d(3, 3, 3);
}

.feedback_container p {
  margin: 25px 30%;
  color: #3f495a;
  text-align: center;
  font-size: 15px;
}

.contacts_container {
  float: left;
  width: 100%;
  height: auto;
  background: url(..//img/my_contacts/bg1.png) center/100% 100% no-repeat;
  text-align: center;
}


.contacts_container h2 {
  padding-top: 100px;
  font-size: 30px;
  margin-bottom: 70px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.contacts_container h3 {
  padding-top: 100px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.contacts_container p {
  color: white;
  margin-top: 17px;
}

.contacts_container  div {
  text-align: center;
  margin: 20px 30px 20px 30px;
}




.contacts_container h4 {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
}

.contacts_container  .my_cont div {
  display: flex;
  flex-wrap: wrap;
  vertical-align: top;
}

.contacts_container [type="text"],
[type="email"] {
  text-align: left;
  height: 35px;
  width: 25%;
  margin: 10px;
  padding-left: 10px;
}

.contacts_container textarea {
  text-align: left;
  margin-top: 10px;
  height: 96px;
  width: calc(50% + 25px);
  resize: none;
  padding: 10px;
}

.contacts_container > [type="submit"] {
  
  font-size: 20px;
  padding: 5px;
  text-align: center;
  background: transparent;
  border: 3px solid white;
  border-radius: 5px;
  color: white;
  margin-bottom: 40px;
  transition: all 0.4s;
}

.contacts_container [type="submit"]:hover{
    cursor: pointer;
    color: #162031;
    background: white;
}

.contacts_container [type="submit"]:active{
    animation: pulse 1s;
}
.contacts_container .modal-dialog{
  margin:auto;
  text-align: center;
}


.maps {
  float: left;
  width: 100%;
  height: auto;
}


.loader {
    background: none repeat scroll 0 0 #fff;
    height: 100%;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;
  }
  .loader .loader_inner {
    animation: animate 1.5s linear infinite;
    clip: rect(0, 80px, 80px, 40px);
    height: 80px;
    width: 80px;
    position: absolute;
    left: calc(50% - 40px);
    top: calc(50% - 40px);
  }
  @keyframes animate {
    0% {
      transform: rotate(0deg)
    }
    100% {
      transform: rotate(220deg)
    }
  }
 .loader .loader_inner:after {
    animation: animate2 1.5s ease-in-out infinite;
    clip: rect(0, 80px, 80px, 40px);
    content:'';
    border-radius: 50%;
    height: 80px;
    width: 80px;
    position: absolute;
  }
  @keyframes animate2 {
    0% {
      box-shadow: inset #b3dfd8 0 0 0 17px;
      transform: rotate(-140deg);
    }
    50% {
      box-shadow: inset #b3dfd8 0 0 0 2px;
    }
    100% {
      box-shadow: inset #b3dfd8 0 0 0 17px;
      transform: rotate(140deg);
    }
  }

  .slider {
    width: 50%;
    margin: 100px auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}



