body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  width: 100%;
  height: 60px;
  background-color: #0091cf;
  position: fixed;
  z-index: 10;
}

.logo {
  color: #01395e;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}

.logo:hover {
  color: #fd4445;
  cursor: pointer;
}

.logo:visited {
  color: #01395e;
}

.navbar-collapse {
  text-align: center;
}

.navbar-toggler {
  height: 40px;
  text-align: center;
  border: 3px solid #01395e;
  border-radius: 5px;
  background-color: none;
  color: #01395e;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.navbar-toggler:hover {
  background: white;
  color: #344051;
  cursor: pointer;
}

.navbar-toggler:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.menu li {
  margin: auto 10px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  /* animation: get, bounceInDown;*/
  /* referring directly to the animation's @keyframe declaration */
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  /*opacity: 0;*/
}

.menu li:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.menu li:nth-child(3) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.menu li:nth-child(4) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.menu li:nth-child(5) {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

.menu li:nth-child(6) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.menu li a {
  color: #01395e;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.menu li aa:visited {
  color: #01395e;
}

.menu li a:hover {
  color: #fd4445;
  cursor: pointer;
}

.menu li a:active {
  color: #255d83;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@-webkit-keyframes get {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes get {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.active_menu {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(194, 44, 55, 0.4)), to(rgba(194, 44, 55, 0.4)));
  background-image: linear-gradient(rgba(194, 44, 55, 0.4), rgba(194, 44, 55, 0.4));
}

.main {
  width: 100%;
  height: 100%;
  background: url(../img/boy_title.png) 100% 100%/auto 85% no-repeat, url(../img/bg_main.avif) center/cover no-repeat;
  box-shadow: inset 0 0 30px rgba(194, 44, 55, 0.4);
}

.title_container {
  width: 100%;
  color: #01395e;
  -webkit-animation: fadeInTopLeft 1s;
          animation: fadeInTopLeft 1s;
  text-align: center;
  
}

.title_container h1 {
  font-size: 60px;
  font-weight: bold;
}

.title_container h4 {
  font-size: 22px;
  margin-top: 40px;
  color: #0091cf;
}

.title_container a {
  text-align: center;
  border: 3px solid #01395e;
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  background-color: none;
  color: #01395e;
  padding: 10px 15px;
  margin: 60px 14px 0px 14px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.title_container a:hover {
  background: #0091cf;
  color: #fff;
  cursor: pointer;
}

.title_container a:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (max-width: 992px) {
  .menu li {
    background-color: #0091cf;
  }
  .title_container {
    color: #fff;
    position: relative;
    z-index: 2;
  }
  .title_container a, .title_container h4 {
    color: #fff;
    position: relative;
    z-index: 2;
  }
  .title_container a {
    border: 3px solid #fff;
    color: #344051;
    background-color: #fff;
  }
  .main {
    position: relative;
  }
  .main::after {
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
}

.about_me_container {
  width: 100%;
  height: 720px;
  float: left;
  text-align: center;
  box-shadow: inset 0 0 30px rgba(194, 44, 55, 0.4);
}

.about_me_container h2 {
  padding-top: 100px;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #01395e;
}

.about_me_container img {
  display: block;
  height: 200px;
  text-align: center;
  border: 3px;
  border-radius: 50%;
  margin: 100px auto 0px auto;
}

.about_me_container p {
  margin: 25px 30%;
  color: #0091cf;
  text-align: justify;
  font-size: 15px;
}

.about_me_container a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: 3px solid #01395e;
  border-radius: 8px;
  color: #01395e;
  margin-top: 15px;
  padding: 10px 20px 10px 35px;
  background: url(../img/download.png) left/auto 15px no-repeat;
  background-position-x: 10px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.about_me_container a:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.about_me_container a:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

@media (max-width: 992px) {
  .about_me_container img {
    margin-top: 50px;
  }
  .about_me_container p {
    margin: 25px 10%;
  }
}

.my_skill_container {
  float: left;
  height: auto;
  padding-bottom: 100px;
  width: 100%;
  background: url(../img/bg_skill.avif) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my_skill_container h2 {
  padding-top: 100px;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #01395e;
}

.my_skill_container .my_skill {
  text-align: center;
  margin: 100px 50px 0px 50px;
}

.my_skill_container div {
  margin: 0px 3%;
}

.my_skill_container h4 {
  font-size: 15px;
  color: #01395e;
  font-weight: bold;
  margin: 40px 0px 20px 0px;
}

.my_skill_container p {
  color: #0091cf;
  width: 210px;
}

@media (max-width: 992px) {
  .my_skill_container {
    height: auto;
  }
  .about_me_container p {
    margin: 25px 10%;
  }
}

.cases_container {
  float: left;
  width: 100%;
  text-align: center;
  box-shadow: inset 0 0 30px rgba(194, 44, 55, 0.4);
}

.cases_container .mask {
  background-color: black;
  height: 100%;
  position: fixed;
  z-index: -1;
  width: 100%;
  top: 0;
  left: 0;
}

.cases_container h2 {
  padding-top: 100px;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #01395e;
}

.cases_container .cases_description {
  margin-top: 72px;
  color: #0091cf;
  font-size: 15px;
}

.cases_container .clients {
  width: 60%;
  margin: 40px auto 0px auto;
  color: #0091cf;
}

.cases_container img {
  width: 100%;
}

.cases_container .carousel-control-next, .cases_container .carousel-control-prev {
  background: rgba(0, 0, 0, 0.4);
  color: white;
}

.cases_container h3 {
  font-size: 20px;
  color: #01395e;
  line-height: 35px;
  font-weight: bold;
}

.cases_container .client_name_web {
  width: 20%;
  text-align: left;
  float: left;
}

.cases_container .cases_name_project {
  text-align: justify;
  width: 80%;
  height: 100%;
  float: left;
}

.cases_container input {
  float: left;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #01395e;
  text-transform: uppercase;
  height: 45px;
  border: 3px solid #01395e;
  background-color: transparent;
  border-radius: 5px;
  padding: 0px 15px;
  margin-top: 25px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: scale(1);
          transform: scale(1);
  margin-left: 15px;
}

.cases_container input:hover {
  color: white;
  background-color: #01395e;
  cursor: pointer;
}

.cases_container input:active {
  -webkit-box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.1), inset 0 1px 2px #63b5ae, inset 0 0 0 60px rgba(255, 255, 255, 0.45);
          box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.1), inset 0 1px 2px #63b5ae, inset 0 0 0 60px rgba(255, 255, 255, 0.45);
}

.cases_container .clear {
  clear: both;
}

@media (max-width: 992px) {
  .cases_container .clients {
    width: 80%;
  }
  .cases_container .client_name_web {
    width: 100%;
    position: relative;
    text-align: justify;
  }
  .cases_container .cases_name_project {
    width: 100%;
    height: 100%;
    float: left;
  }
  .cases_client {
    width: 50%;
    float: left;
  }
  .my_statictic{
    opacity: 1;
  }
}

.calculation_container {
  float: left;
  width: 100%;
  text-align: center;
}



.calculation_container h2 {
  padding-top: 100px;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #01395e;
}

.calculation_container .price {
  margin: 30px auto 150px;
  width: 50%;
  font-size: 20px;
  font-weight: 600;
  color: #01395e;
  text-align: justify;
  text-align-last: justify;
}

.calculation_container .price span {
  display: inline-block;
  text-align: end;
}

.calculation {
  width: 50%;
  margin: 60px auto 0px;
  border-bottom: 3px solid #d1d1d1;
}

.calculation h3 {
  font-size: 25px;
  text-transform: uppercase;
  color: #01395e;
  text-align: left;
}

.calculation select {
  color: #0091cf;
  font-weight: 500;
  width: 100%;
  margin: 25px 0px;
  background-color: #eeeeee;
  padding: 10px;
}

@media (max-width: 1200px) {
  .calculation {
    width: 75%;
  }
}
.statistics_container {
  width: 100%;
  float: left;
  text-align: center;
  background: url(../img/statistics/bg.avif) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.statistics_container h2 {
  padding: 100px 0px;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  color: #01395e;
}

.statistics_container .my_statictic {
  text-align: center;
}

.statistics_container div {
  margin: 0px 3%;
}

.statistics_container h4 {
  font-size: 20px;
  color: #01395e;
  font-weight: bold;
  margin: 10px 0px 100px 0px;
}

.statistics_container p {
  color: #0091cf;
  font-weight: bold;
  margin: 33px;
  font-size: 40px;
  width: 210px;
  opacity: 0;
}

.statistics_container svg {
  width: 60px;
  height: 60px;
  fill: #fd4445;
}

.feedback_container {
  width: 100%;
  float: left;
  text-align: center;
  margin-bottom: 50px;
}

.feedback_container h2 {
  padding-top: 100px;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #01395e;
}

.feedback_container img {
  height: 100px;
  text-align: center;
  border: 3px;
  border-radius: 50%;
  margin: 100px auto 0px auto;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}

.feedback_container img:hover {
  cursor: pointer;
}

.feedback_container img:active {
  -webkit-transform: scale3d(3, 3, 3);
          transform: scale3d(3, 3, 3);
}

.feedback_container p {
  margin: 25px 30%;
  color: #0091cf;
  text-align: center;
  font-size: 15px;
}



.contacts_container {
  float: left;
  width: 100%;
  height: auto;
  background: url(..//img/my_contacts/bg1.avif) center/100% 100% no-repeat;
  text-align: center;
}

.contacts_container h2 {
  padding-top: 100px;
  font-size: 30px;
  margin-bottom: 70px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.contacts_container h3 {
  padding-top: 100px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.contacts_container p, .contacts_container a {
  color: white;
  margin-top: 17px;
}

.contacts_container a {
  display: block;
}

.contacts_container div {
  text-align: center;
  margin: 20px 30px 20px 30px;
}



.contacts_container h4 {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
}

.contacts_container .my_cont div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  vertical-align: top;
}

.contacts_container [type="text"], .contacts_container [type="email"] {
  text-align: left;
  height: 35px;
  width: 25%;
  margin: 10px;
  padding-left: 10px;
}

.contacts_container textarea {
  text-align: left;
  margin-top: 10px;
  height: 96px;
  width: calc(50% + 25px);
  resize: none;
  padding: 10px;
}

.contacts_container > [type="submit"] {
  font-size: 20px;
  padding: 5px;
  text-align: center;
  background: transparent;
  border: 3px solid white;
  border-radius: 5px;
  color: white;
  margin-bottom: 40px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.contacts_container > [type="submit"]:hover {
  cursor: pointer;
  color: #162031;
  background: white;
}

.contacts_container > [type="submit"]:active {
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
}

@media (max-width: 1200px) {
  .contacts_container textarea {
    width: calc(80% + 25px);
  }
  .contacts_container [type="text"], .contacts_container [type="email"] {
    
    width: 40%;
  }
  
}

.contacts_container .modal-dialog {
  margin: auto;
  text-align: center;
}

.maps {
  width: 100%;
  height: auto;
}

.loader {
  background: none repeat scroll 0 0 #fff;
  height: 100%;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
}

.loader .loader_inner {
  -webkit-animation: animate 1.5s linear infinite;
          animation: animate 1.5s linear infinite;
  clip: rect(0, 80px, 80px, 40px);
  height: 80px;
  width: 80px;
  position: absolute;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
}

.loader .loader_inner::after {
  -webkit-animation: animate2 1.5s ease-in-out infinite;
          animation: animate2 1.5s ease-in-out infinite;
  clip: rect(0, 80px, 80px, 40px);
  content: '';
  border-radius: 50%;
  height: 80px;
  width: 80px;
  position: absolute;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(220deg);
            transform: rotate(220deg);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(220deg);
            transform: rotate(220deg);
  }
}

@-webkit-keyframes animate2 {
  0% {
    -webkit-box-shadow: inset #b3dfd8 0 0 0 17px;
            box-shadow: inset #b3dfd8 0 0 0 17px;
    -webkit-transform: rotate(-140deg);
            transform: rotate(-140deg);
  }
  50% {
    -webkit-box-shadow: inset #b3dfd8 0 0 0 2px;
            box-shadow: inset #b3dfd8 0 0 0 2px;
  }
  100% {
    -webkit-box-shadow: inset #b3dfd8 0 0 0 17px;
            box-shadow: inset #b3dfd8 0 0 0 17px;
    -webkit-transform: rotate(140deg);
            transform: rotate(140deg);
  }
}

@keyframes animate2 {
  0% {
    -webkit-box-shadow: inset #b3dfd8 0 0 0 17px;
            box-shadow: inset #b3dfd8 0 0 0 17px;
    -webkit-transform: rotate(-140deg);
            transform: rotate(-140deg);
  }
  50% {
    -webkit-box-shadow: inset #b3dfd8 0 0 0 2px;
            box-shadow: inset #b3dfd8 0 0 0 2px;
  }
  100% {
    -webkit-box-shadow: inset #b3dfd8 0 0 0 17px;
            box-shadow: inset #b3dfd8 0 0 0 17px;
    -webkit-transform: rotate(140deg);
            transform: rotate(140deg);
  }
}

.slider {
  width: 50%;
  margin: 100px auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */